<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">

    <style>
        div {
            /*background-color: whitesmoke;*/
            width: 400px;
            padding: 20px;
            border: 25px aliceblue;
            text-align: center;
            align-content: center;
        }
    </style>
    <title>Hello Memo </title>
</head>
<body>

    <div>
        <p class="fs-1 fw-bold fst-italic">Hello Memo</p>
        <p>
        <form action="/" method="post">
<!--            <div class="input-group mb-3">-->
<!--                <input type="text" id="name" name="name" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="제목을 입력하세요.">-->
<!--                <input type="text" id="data" name="data" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="여기에 메모하세요.">-->
<!--                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Save</button>-->
<!--            </div>-->

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">제목</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="제목을 입력하세요.">
<!--        </div>-->
<!--        <div class="mb-3">-->
            <label for="exampleFormControlTextarea1" class="form-label">내용</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="data" rows="3"></textarea>
        </div>
        <p><button class="btn btn-outline-secondary" type="submit" id="button-addon2">Save</button>
            <a class="btn btn-secondary" href="/memos">History</a></p>

        </form>
<!--            <a class="btn btn-primary" href="/memos/new">메모하기</a>-->


        </p>
    </div>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.0.1/css/bootstrap.css"></script>
</body>

</html>