<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:rel="stylesheet" th:href="@{libs/bootstrap-5.0.1-dist/css/bootstrap.css}">

  <title>Hello Memo</title>
</head>
<body>

<div class="container">

  <form action="/memos/new" method="post">
    <div class="form-group">
      <label for="name">메모</label>
      <input type="text" id="name" name="name" placeholder="여기에 메모하세요.">
    </div>
    <button class="btn btn-primary" type="summit">등록</button>
    <a class="btn btn-secondary" href="/">Home</a>
  </form>

</div><!-- /container -->

</body>

<script src="<c:url value='/libs/jquery-3.6.0.min.js'>"></script>
<script src="<c:url value='/libs/bootstrap-5.0.1-dist/css/bootstrap.css'>"></script>
</html>