<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:rel="stylesheet" th:href="@{libs/bootstrap-5.0.1-dist/css/bootstrap.css}"/>

  <title>Hello Memo </title>
</head>
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>메모장</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="memo : ${memos}">
        <td th:text="${memo.id}"></td>
        <td th:text="${memo.name}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
<script src="<c:url value='/libs/jquery-3.6.0.min.js'/>"></script>
<script src="<c:url value='/libs/bootstrap-5.0.1-dist/css/bootstrap.css'/>"></script>
</html>